# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Deplyoment binaries/files
!builds/_builds.txt
builds
!distribution/_distribution.txt
distribution
!source/data/bin/_bin.txt
!source/data/bin/7z.sfx
!source/data/bin/7z_original.sfx
source/data/bin/*.*
source/lv-builder*.json